exclude: "^(doc)|(cookiecutters)|(aiida_kkr/tests)"

ci:
    autoupdate_schedule: monthly
    autofix_prs: true
    skip: [pylint, version-number]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
      - id: double-quote-string-fixer
      - id: forbid-new-submodules

  - repo: https://github.com/google/yapf
    rev: v0.40.2
    hooks:
      - id: yapf
        name: yapf
        types: [python]
        args: ["-i"]
        additional_dependencies: [toml]

  - repo: https://github.com/ikamensh/flynt/
    rev: '1.0.1'
    hooks:
    -   id: flynt
        args: [
            '--line-length=120',
            '--fail-on-change',
        ]

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        args: [-d, W, -d, R, -d, C]
        verbose: true
        types: [python]
        language: system
        exclude: |
          (?x)(
          ^examples/
          )

      - id: version-number
        name: Check version numbers
        entry: python ./utils/validate_version_consistency.py
        language: system
        files: >-
          (?x)^(
            setup.py|
            utils/validate_version_consistency.py|
            aiida_kkr/__init__.py|
            .bumpversion.cfg
          )$
        pass_filenames: false
